body{
    padding: 1em;
    background-color: #EEEEEE;
    font-family: 'Open Sans', sans-serif;
    color: #041562!important;
}

h1{
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    color: #041562;
    padding-top: 4vh;
}

label{
    font-weight: bolder;
}

button{
    background-color: #041562 !important;
    color: #EEEEEE !important;
}

.to-do-list{
    position: absolute;
    left: 50%;
    top:30%;
    transform: translate(-50%, -50%);
    border: 2px solid;
    padding: 2vw;
}