body{
    padding: 1em;
    background-color: #EEEEEE;
    font-family: 'Open Sans', sans-serif;
    color: #041562!important;
}

h1{
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    color: #041562;
    padding-top: 4vh;
}

label{
    font-weight: bolder;
}

#submit{
    background-color: #041562 !important;
    color: #EEEEEE !important;
    margin-left: 4rem;
}

.to-do-list{
    margin: auto;
    width: 50%;
    border: 3px solid #041562 ;
    padding: 10px;
}

.data-input-form{
    padding: 1vh 3vw;
}

.form-control{
    width: 140%;
}

.item-list{
    padding: 3vh 4vw;
}

.del-btn{
    float: right;
}